.sectionConta {
    margin-top: 8pc;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionConta h2 {
    margin-bottom: 50px;
    text-align: center;
}

/* Services container */
.sectionConta .cardSec {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 35px;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.card p:not(.heading) {
    font-size: 14px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .sectionConta {
        margin-top: 5pc;
    }
    .sectionConta .cardSec {
        gap: 30px;
    }
}

@media (max-width: 368px) {
    .sectionConta {
        margin-top: 3pc;
    }
    .sectionConta .cardSec {
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .sectionConta h2 {
        font-size: 24px;
    }
    
    .card {
        width: 90%;
        max-width: 250px;
        height: auto;
        padding: 29px;
    }
    .heading {
        font-size: 18px;
    }
    .card p:not(.heading) {
        font-size: 12px;
    }
}
